/* body tag's id */
#wrapper{
    max-width: 100%;
    margin: auto;
    background-color: black;
    color: blueviolet;
    /* SpaceBkgrd_jdbpt created by jdbpt in Corel Painter student edition 2021 */
    background-image: url("./imgs/SpaceBkgrd_jdbpt.png");
    background-size: cover;
    /* bkgrd size cover resource: https://developer.mozilla.org/en-US/docs/Web/CSS/background-size */
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* my page title's id */
#page-title{
    color: violet;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
    font-size: 60px;
    letter-spacing: 10px;
    
}

/* start button's id */
/* guidance on transition, transform, and buttons: https://www.w3schools.com/howto/howto_css_animate_buttons.asp */
#start-game{
    color: blueviolet;
    background-color: orange;
    height: 75px;
    width: 150px;
    border-radius: 20%;
    font-size:25px;
    border: 5px solid violet;
    margin-top: 70px;
    transition-duration: 0.02s;

}

#start-game:hover{
    background-color: rgb(195, 85, 85);

}

#start-game:active{
    transform: translateY(10px);
}

#destroyed{
    display: none;
}

/* rule to make the flex the maverick and enemy */
#gameBoard{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* add some padding to better align the images */

#enemy{
    padding-bottom: 75px;
    padding-left: 200px;
}

#start-messages{
    color: blueviolet;
    text-align: center;
    display: flex;

}

#ship{
    width: 100%;
}

#round{
    position:absolute;
    top: 100px;
    left: 10px;

}
#mavW{
    position:absolute;
    top: 150px;
    left: 10px;

}
#enemyO{
    position:absolute;
    top: 100px;
    right: 10px;

}


figcaption{
    color: blueviolet;
}








